h1 {
    font-family: 'roboto', sans-serif;
    font-weight: normal;
    transition: all 0.3s ease-in-out;
    height: auto;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background: #00897B;
    color: white;
    text-align: center;
    line-height: 125%;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.Calculator {
    box-sizing: border-box;
    width: 50%;
    margin: 5% auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
    border-radius: 3px;
}
.Calculator h1 {
    box-sizing: border-box;
    padding: 10px 20px;
}
